@{
  Layout = "_Layout";
  ViewData["Title"] = $"Deleting {@Model.Name}";
}

<div class="text-center">
  <h1 class="display-4">Deleting @Model.Name</h1>
</div>

<p>Are you sure?</p>
<hr>
<div class="link-buttons">
  @using (Html.BeginForm())
  {
    <input type="submit" value="Yes" class="btn btn-danger btn-lg" />
  }
  <a class="btn btn-success btn-lg" href="~/Treats/Details/@Model.TreatId">No</a>
</div>