@{
  Layout = "_Layout";
  ViewData["Title"] = "Create Flavor";
}

@model SweetSavory.Models.Flavor

<div class="text-center">
  <h1 class="display-4">Create a flavor</h1>
</div>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add Flavor" class="btn btn-dark">
}