@{
  Layout = "_Layout";
  ViewData["Title"] = "Flavors";
}

@using SweetSavory.Models

<div class="text-center">
  <h1 class="display-4">Available Flavors</h1>
</div>

@if (Model.Count == 0)
{
  <p>No flavors have been added to the database yet.</p>
}
else
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
}

@if(User.Identity.IsAuthenticated)
{
  @Html.ActionLink("Create a new flavor", "Create")
}