@{
    Layout = "_Layout";
    @* ViewData["Title"] = "Home Page"; *@
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pierre's Sweet and Savory Treats</h1>
    <p class="display-5">Select a treat and flavor below for details!</p>
</div>
